html{
  width:100%;
  height:100%;
}
body{
  width:100%;
  height:100%;
    background-color: #141D2F;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
  }
#root{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:600px){
  .contact{
    display: block;
  }
  :root.light{
  background-color: #f6f8ff;}

}
